/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

  @media only screen and (min-width: 1280px) {
    .frame a.sound {
      right: 14%;
    }
  }

  @media only screen and (min-width: 960px) {
    header nav a {
      margin-left: 20px;
    }

    nav {
      visibility: hidden;
    }

    #title img {
      position: fixed;
      min-height: 100%;
    }

    .column {
      max-width: 50%;
      left: 24.5%;
    }

    .frame  {
      margin: 244px 0px;
    }

    #polaroid {
      margin-left: -90px;
    }
  }

   /*Tablet Landscape*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
    header nav a {
      margin-left: 20px;
    }

    #title img {
      position: absolute;
      top: 0%;
      left: -10%;
      min-height: 100%;
      width: auto;

    }

    .column {
      max-width: 50%;
      left: 28%;
    }

    .frame a.sound {
      right: 5%;
    }

     #polaroid {
      margin-left: -90px;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    header nav a {
      margin-left: 20px;
    }

    #title {
      height: 424px;
    }

    #polaroid {
      margin-left: -88px;
    }
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    .column{
      max-width: 60%;
    }

    .frame {
      margin: 198px 0px;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    #title {
      height: 208px;
    }

    #polaroid {
      margin-left: -90px;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    header nav a {
      margin-left: 20px;
    }

    #title {
      height: 480px;
    }

    #title img{
      height: 100%;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    header {
      position: relative;
      top: 0;
      padding-top: 0px;
      height: 110px;
      width: 100%;
      background: #000;
      z-index: 999;
    }

    nav {
      position: relative;
      text-align: center;
      margin-top: 0px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 10px;
      width: 60%;
      height: 100px;
      visibility: visible !important;
    }

    #logo {
      margin: 0px;
      width: 100%;
    }

    #main-nav {
      display: none;
    }

    #title {
      height: 208px;
    }

    #title img {
      height: 208px;
    }

    #js-content-wrapper {
      min-height: 6000px;
    }

    .frame a.sound {
      bottom: 29%;
      right: 0%;
    }

    .mask {
      width: 90%;
    }

    #polaroid {
      display: none;
    }

  }

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

  @font-face {
    font-family: 'Canter';
    src: url('../fonts/canter_light-webfont.eot');
    src: url('../fonts/canter_light-webfont.eot?iefix') format('eot'),
         url('../fonts/canter_light-webfont.woff') format('woff'),
         url('../fonts/canter_light-webfont.ttf') format('truetype'),
         url('../fonts/canter_light-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: light;
    font-style: light;
   }

  @font-face {
    font-family: 'Oranienbaum';
    src: url('../fonts/oranienbaum-webfont.eot');
    src: url('../fonts/oranienbaum-webfont.eot?iefix') format('eot'),
         url('../fonts/oranienbaum-webfont.woff') format('woff'),
         url('../fonts/oranienbaum-webfont.ttf') format('truetype'),
         url('../fonts/oranienbaum-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweathersans-light-webfont.eot');
    src: url('../fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweathersans-light-webfont.woff') format('woff'),
         url('../fonts/merriweathersans-light-webfont.ttf') format('truetype'),
         url('../fonts/merriweathersans-light-webfont.svg#merriweather_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Myriad';
    src: url('../fonts/myriadpro-black-webfont.eot');
    src: url('../fonts/myriadpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-black-webfont.woff') format('woff'),
         url('../fonts/myriadpro-black-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-black-webfont.svg#myriad_problack') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Agilis';
    src: url('../fonts/agilis-webfont.eot');
    src: url('../fonts/agilis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agilis-webfont.woff') format('woff'),
         url('../fonts/agilis-webfont.ttf') format('truetype'),
         url('../fonts/agilis-webfont.svg#agilisregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MyriadLight';
    src: url('../fonts/myriadpro-light-webfont.eot');
    src: url('../fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-light-webfont.woff') format('woff'),
         url('../fonts/myriadpro-light-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-light-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geosanslight';
    src: url('../fonts/geosanslight-webfont.eot');
    src: url('../fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-webfont.woff') format('woff'),
         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

   @font-face {
    font-family: 'GeosanslightOblique';
    src: url('../fonts/geosanslight-oblique-webfont.eot');
    src: url('../fonts/geosanslight-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-oblique-webfont.woff') format('woff'),
         url('../fonts/geosanslight-oblique-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-oblique-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

