html, body {
  height: 100%;
  background: url(../../assets/images/interior-bg.jpg) no-repeat center left fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

nav {
  display: block;
  position: fixed;
  height: 60%;
  width: 120px;
  margin-top: 245px;
  top: 0;
  left: 0;
  z-index: 20;
 -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#main-nav {
  padding-top: 20px;
  padding-left: 21px;
  text-align: center;
}

/*#logo {
  position: relative;
  width: 168px;
  height: 125px;
  background: url(../../assets/images/nmn-logo.png) no-repeat center center;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/

#logo-mistress {
  position: relative;
  width: 168px;
  height: 26px;
  background: url(../../assets/images/mm-sprite.png) no-repeat center center;
  background-position: 0 -16px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#logo-mistress:hover {
  background-position: 0 -45px;
}

#ampersand {
  position: relative;
  width: 168px;
  height: 23px;
  background: url(../../assets/images/mm-sprite.png) no-repeat center center;
  background-position: 0px;
}

#logo-muse {
  position: relative;
  width: 168px;
  height: 26px;
  background: url(../../assets/images/mm-sprite.png) no-repeat center center;
  background-position: 0 -100px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#logo-muse:hover {
  background-position: 0 -126px;
}

header nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #FFF;
  display: inline-block;
  height: 22px;
  text-decoration: none;
  margin: 0 0 0 0px;
  text-transform: uppercase;
  width: 121px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

#main-nav a:before {
  position: absolute;
  width: 40%;
  margin-left: -3px;
  height: 2px;
  background: #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s,-moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
   -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

#main-nav a:after {
  position: absolute;
  width: 40%;
  left: 78px;
  height: 2px;
  background: #000;
  content: '';
  opacity: 0;
   -webkit-transition:all ease-in-out 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s,-moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
   -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  transform: translateY(30px);
}

#main-nav a:hover:before {
  opacity: 1;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

#main-nav a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}

header h1 {
  font-size: 28px;
  color: #FFF;
  text-transform: uppercase;
}

.profile-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 126%;
  opacity: 0;
  background-color: black;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  z-index: 25;
}

.close {
  position: fixed;
  right: 16px;
  top: 16px;
  width: 28px;
  height: 28px;
  background: url(../../assets/images/close-x.svg) no-repeat scroll center center transparent;
  cursor: pointer;
  z-index: 20;
}

.about {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.about-header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 560px;
  margin-top: -275px;
  margin-left: -280px;
  text-align: center;
  color: white;
  opacity: 1;
}

.about-text {
  position: absolute;
  margin-top: 12.5%;
  width: 100%;
  height: 120px;
  text-align: center;
}

.about-text p {
  font-family: 'Futura', sans-serif;
  text-align: center;
  color: white;
  opacity: 1;
  letter-spacing: 1px;
}

.about-text a {
  color: #fff;
}

.about h1 {
  text-transform: uppercase;
  color: #F5DEB3;
}

.about h2 {
  color: #F5DEB3;
  font-size: 32px;
}

.about h3 {
  color: #fff;
}

.copy {
  padding-top: 10px;
}

.social-links{
  position: absolute;
  padding-top: 10px;
  height: 55px;
  width: 100%;
  z-index: 21;
}

.social-links span {
  position: absolute;
  display: inline-block;
  margin-left: -100px;
  width: 200px;
  height: 100%;
}

.git {
  position: absolute;
  margin-left: -75px;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  background: url(../../assets/images/githubwhite.png) no-repeat center center;
  opacity: .9;
}

.linkedin {
  position: absolute;
  margin-left: 25px;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  background: url(../../assets/images/linkedin-white.png) no-repeat center center;
  opacity: .9;
}

.vimeo {
  position: absolute;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  background: url(../../assets/images/vimeo-white.png) no-repeat center center;
  opacity: .9;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 13px;
  padding-top: 20px;
  text-align: center;
}

#js-content-wrapper{
  position: relative;
  min-height: 13000px;
  background: url(../../assets/images/interior-bg.jpg) no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.column {
  position: absolute;
  display: block;
  top: 0;
  left: 20%;
  max-width: 80%;
  overflow: visible;
}

.none {
  display: none;
}

.hide {
 visibility: hidden;
}

.show {
 right: 0px;
 opacity: 1;
}

.muse {
}

.mistress {
}

#title {
  position: relative;
  height: 100%;
  top: 0;
}

.image-container {
  position: relative;
  min-height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#title img{
  position: absolute;
  background-position: top center;
  width: 100%;
  height: auto;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.frame {
  position: relative;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-size: 18px;
}

.frame img {
  width: auto;
  max-width: 100%;
  z-index: 10;
}

.frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.mask {
  position: relative;
  bottom: 0px;
  height: 75px;
  width: 286px;
  padding: 10px;
  color: #fff;
  font-weight: 900;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out 0.1s;
  opacity: 0;
}

.label {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

.mask p {
  position: relative;
  letter-spacing: .5px;
  font-size: 12px;
  color: #fff;
  text-align: center
}

.frame a.info {
  position: absolute;
  display: block;
  bottom: 95px;
  right: 0px;
  padding: 10px 9px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
  background: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.frame .mask{
  opacity:0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.frame p {
  opacity:0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.frame .label{
  opacity:0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

/*frame window link*/

.frame a.info {
  opacity:0;
  -webkit-transfrom: scale(3);
  transform: scale(3);
  -webkit-transition: all 0.6s ease-in-out 0.2s;
  transition: all 0.6s ease-in-out 0.2s;
}

.frame:hover a.info {
  opacity: 1;
   -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/*frame description*/

.frame:hover .mask {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.frame:hover p{
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.frame:hover .label {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#polaroid {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 220px;
  margin-left: -60px;
  margin-top: -125px;
  background: url(../../assets/images/polaroid-grey-1.png) no-repeat center center;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
}

#scroll-Top {
  position: fixed;
  bottom: 6px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url(../../assets/images/controls.png) no-repeat scroll 0px 0px transparent;
  font: 0px;
  text-shadow: none;
  color: transparent;
  border: 2px solid #FFF;
  -moz-box-sizing: content-box;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: none;
  z-index: 9;
}

/*footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  max-width: 944px;
  margin: 0px auto;
  padding: 48px 0px;
  overflow: hidden;
  z-index: 2000;
}*/
